<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.auth.mapper.LoginMapper">

    <select id="selectAccountPage" parameterType="org.dows.auth.bo.LoginBodyBo" resultType="org.dows.auth.vo.AccountVo">
        SELECT
            t1.id,
            t1.account_name,
            t1.avatar,
            t1.password,
            t1.phone,
            t1.account_id,
            t1.app_id,
            t3.create_time,
            t3.birthday,
            t3.province,
            t3.city,
            t3.tenant_id,
            t3.sex,
            t3.job,
            t3.education,
            t3.nation,
            t3.client_no AS accountClientNo
        FROM
            account_instance t1
        LEFT JOIN account_tenant t2 ON t1.account_id = t2.account_id
        LEFT JOIN account_user_info t3 ON t3.account_id = t1.account_id
        WHERE 1 = 1
        <if test="loginBodyBo.userName != null and loginBodyBo.userName != ''">
            AND t1.account_name = #{loginBodyBo.userName}
        </if>
        <if test="loginBodyBo.accountType != null">
            AND t1.account_type = #{loginBodyBo.accountType}
        </if>
        <if test="loginBodyBo.openid != null and loginBodyBo.openid != ''">
            AND t1.openid = #{loginBodyBo.openid}
        </if>
        <if test="loginBodyBo.userId != null and loginBodyBo.userId != ''">
            AND t1.user_id = #{loginBodyBo.userId}
        </if>
        <if test="loginBodyBo.storeId != null and loginBodyBo.storeId != ''">
            AND t1.store_id = #{loginBodyBo.storeId}
        </if>
    </select>

    <insert id="saveMiniAppUserAccount" parameterType="org.dows.auth.vo.AccountVo" useGeneratedKeys="true" keyProperty="id">
        insert into account_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accountVo.accountId != null and accountVo.accountId != ''">account_id,</if>
            <if test="accountVo.accountName != null and accountVo.accountName != ''">account_name,</if>
            <if test="accountVo.avatar != null and accountVo.avatar != ''">avatar,</if>
            <if test="accountVo.source != null and accountVo.source != ''">source,</if>
            <if test="accountVo.phone != null and accountVo.phone != ''">phone,</if>
            <if test="accountVo.appId != null and accountVo.appId != ''">app_id,</if>
            dt,
            <if test="accountVo.accountType != null">account_type,</if>
            <if test="accountVo.storeId != null and accountVo.storeId != ''">store_id,</if>
            <if test="accountVo.openid != null and accountVo.openid != ''">openid,</if>
            <if test="accountVo.userId != null and accountVo.userId != ''">user_id,</if>
            <if test="accountVo.merchantAccountId != null and accountVo.merchantAccountId != ''">merchant_account_id,</if>
            <if test="accountVo.userNo != null ">user_no,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accountVo.accountId != null and accountVo.accountId != ''">#{accountVo.accountId},</if>
            <if test="accountVo.accountName != null and accountVo.accountName != ''">#{accountVo.accountName},</if>
            <if test="accountVo.avatar != null and accountVo.avatar != ''">#{accountVo.avatar},</if>
            <if test="accountVo.source != null and accountVo.source != ''">#{accountVo.source},</if>
            <if test="accountVo.phone != null and accountVo.phone != ''">#{accountVo.phone},</if>
            <if test="accountVo.appId != null and accountVo.appId != ''">#{accountVo.appId},</if>
            sysdate(),
            <if test="accountVo.accountType != null">#{accountVo.accountType},</if>
            <if test="accountVo.storeId != null and accountVo.storeId != ''">#{accountVo.storeId},</if>
            <if test="accountVo.openid != null and accountVo.openid != ''">#{accountVo.openid},</if>
            <if test="accountVo.userId != null and accountVo.userId != ''">#{accountVo.userId},</if>
            <if test="accountVo.merchantAccountId != null and accountVo.merchantAccountId != ''">#{accountVo.merchantAccountId},</if>
            <if test="accountVo.userNo != null ">#{accountVo.userNo},</if>
        </trim>

    </insert>
    <select id="selectAppInfo" parameterType="org.dows.auth.bo.LoginBodyBo" resultType="org.dows.auth.vo.AppInfoVo">
        SELECT
        t1.secret_id,
        t1.secret_key,
        t1.app_key,
        t1.app_id,
        t1.account_id,
        t1.tenant_name,
        t1.tenant_id
        FROM
        app_license t1
        WHERE 1=1
        <if test="loginBodyBo.appId != null and loginBodyBo.appId != ''">
            AND t1.app_id = #{loginBodyBo.appId}
        </if>
    </select>

    <select id="selectMaxStoreUserNo" parameterType="org.dows.auth.vo.AccountVo" resultType="int">
        SELECT IFNULL(max(user_no), 0) FROM account_instance WHERE store_id = #{accountVo.storeId} and source = #{accountVo.source}
    </select>
</mapper>
